<div class="container">
    <hr>
    <h4>People already signed up for this ride</h4>


    {{ $signups := readDir "data/signups" }}
    {{ $.Scratch.Add "hasSignups" 0 }}
    {{ $rideSlug := .Source.BaseFileName }}

    {{ range $signups }}
        {{ if eq .Name $postSlug }}
            {{ $.Scratch.Add "hasSignups" 1 }}
            {{ range $index, $signups := (index $.Site.Data.signups $rideSlug ) }}
            <div class="post-signup">
                <div class="post-signup-header">
                    <img class="post-signup-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
                    <p class="post-signup-info"><strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}</p>
                </div>
                {{ .message | markdownify }}
            </div>  
            {{ end }}
        {{ end }}
    {{ end }}


    {{ if eq ($.Scratch.Get "hasSignups") 0 }}
        <p>Doh! - Nobody has signed up yet.</p>
    {{ end }}
</div>