<div class="container">
    <hr>
    <h4>People already signed up for this ride</h4>


    {{ $signups := readDir "data/signups" }}
    {{ $.Scratch.Add "hasSignups" 0 }}
    {{ $entryId := .UniqueID }}

    {{ range $signups }}
        {{ if eq .Name $entryId }}
            {{ $.Scratch.Add "hasSignups" 1 }}
            {{ range $index, $signups := (index $.Site.Data.signups $entryId ) }}
            <div class="post-comment">
                <div class="post-comment-header">
                    <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
                    <p class="post-comment-info"><strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}</p>
                </div>
                {{ .body | markdownify }}
            </div>  
            {{ end }}
        {{ end }}
    {{ end }}


    {{ if eq ($.Scratch.Get "hasSignups") 0 }}
        {{ $signups }}   
        <p>Doh! - Nobody has signed up yet.</p>
    {{ end }}
</div>