  <div class="container">
      <h3>You can sign up here</h3>
    <form name="signup-form" netlify-honeypot="_gotcha" action="thank-you" netlify>
      <div class="row">
	<div class="col-md-6">
	  <div class="form-group">
	    <!-- <label for="inputName">First name</label> -->
	    <input type="text" class="form-control" id="inputName" placeholder="Your name" name="_name">
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="form-group">
	    <input type="email" class="form-control" id="inputEmail" placeholder="Your email" name="_replyto" required>
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	</div>
	<div class="col-md-12">
	  <div class="form-group">
	    <input type="hidden" name="_subject" value="Sign up for {{ .Title }} on {{ .Params.rideDate}}">
	    <input type="text" name="_gotcha" style="display:none">
	    <button type="submit" class="btn btn-danger" value="Send">Sign Up</button>
	    <!-- <input type="submit" name="submit" value="Send message" class="btn btn-primary btn-outline"> -->
	  </div>
	</div>
      </div>

    </form>
  </div>
