<div class="container">
    <hr>
    <h4>People already signed up for this ride</h4>


    {{ $signups := readDir "data/signups" }}
    {{ $.Scratch.Add "hasSignups" 0 }}
    {{ $rideSlug := .Source.BaseFileName }}

    {{ range $signups }}
        {{ if eq .Name $rideSlug }}
        {{ $.Scratch.Add "hasSignups" 1 }}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Rider</th>
                    <th>Signed up on</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $signups := (index $.Site.Data.signups $rideSlug ) }}
                <tr>
                    <td><strong>{{ .name }}</strong></td>
                    <td>{{ dateFormat "02/01/2006" .date }}</td>
                    <td>{{ .message | markdownify }}</td>
                </tr>
                {{ end }}
            </tbody>
        {{ end }}
        </table>
    {{ end }}


    {{ if eq ($.Scratch.Get "hasSignups") 0 }}
        <p>Doh! - Nobody has signed up yet. Why no be the first on the list!</p>
    {{ end }}
</div>