{{ partial "header.html" . }}
<div class="container">
    <h2>Welcome!</h2>
    <p>A place where rides starting in Brent Knoll and Burnham-on-sea can be posted centrally without the email round robin. Usually the Brent Knoll rides start at the village hall or the Brent Knoll Inn.</p>
    <p><a class="btn btn-primary btn" href="/upcoming-rides/" role="button">Upcoming Ride List &raquo;</a></p>
    <p>We’re a friendly bunch and always welcome new people – get in touch via the contact page if you’d like to come out for a ride with us.</p>
    <p>I’ve recently upgraded the site (see News) – some stuff may not work as it should, but most of it is OK. Any feedback you can provide is always welcome – again contact me here if you want to comment.</p>
</div>
{{ partial "next3rides.html" . }}
{{ partial "strava.html" . }}
{{ partial "footer.html" . }}
