{{ partial "header.html" . }}
<div class="container">
<!-- Get a list of rides ordered by ride date - thi is restricted to only posts of 'type' rides which would negate the need for the $page := . stuff -->
<!-- the script is necessary to only show upcomimg rides even if the site hasn't been rebuilt-->
<h2>{{ .Title }}</h2>
<div class="row">
    <div class="col-md-3"><h3>Date/Time</h3></div>
    <div class="col-md-9"><h3>Ride Details</h3></div>
</div>
<script>
    var ridelist = [];
    {{ $page := . }}
    {{ range where (.Data.Pages.ByParam "rideDate") "Type" "rides" }}
        ridelist.push({ link: "<h4><a href='{{ .Permalink }}'> {{ .Title }}</a> </h4>",
                        summary: " {{.Summary }}",
                        signups: "Sign ups so far -",
                        {{ with .Params.rideDate }}
                            ridedate: 'Ride Date - {{ dateFormat "Monday, Jan 2, 2006" . }}',
                            ridestart: 'Start Time - {{ dateFormat "3:04 pm" . }}',
                            {{$t := time .}}
                            timestamp : {{ $t.Unix }},
                        {{ end }}
                        {{ with .Params.startFrom }}
                            ridefrom: 'Start From - {{ . }}'
                        {{ end }}
                        })
    {{end}}

    for (i=0;i<ridelist.length;i++){
        if (ridelist[i].timestamp>Math.round(new Date().getTime()/1000)){
        document.write("<hr>"
                        +"<div class='row'>"
                        +"<div class='col-md-3'>"
                            +"<p>"
                            +ridelist[i].ridedate+"<br>"
                            +ridelist[i].ridestart+"</p>"
                            +ridelist[i].ridefrom
                        +"</div>"
                        +"<div class='col-md-9'>"
                            +ridelist[i].link
                            +ridelist[i].summary+"<br>"
                            +ridelist[i].signups
                        +"</div>"
                        +"</div>");
        }
    }
</script>

</div> <!-- container -->
{{ partial "footer.html" . }}
